:root {
  --bg-blk: black
}

html body.dark {
  background-color: var(--bg-blk);
  color: white;
  transition: all 0.5 ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button {
  cursor: pointer;
}

body {
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

body.dark {
  background-color: var(--bg-blk);
  color: white;
  transition: all 0.5 ease-in-out;
}


body.dark .main-container, body.dark .sidebar, body.dark .content2, body.dark .content, body.dark .createToDoButton, body.dark .button  {
  background-color: var(--bg-blk);
  color: white;
  transition: all 0.5s ease-in-out;
}

body.dark .toDoContainer.grid {
  background-color: #333;
}

body.dark .toDoTitle {
  border-bottom: 5px solid white;
  padding: 20px;
}

body.dark .createToDoButton, body.dark .button {
  border: solid white 2px;
}

body.dark .drpdwnitems.active {
  color: black;
}

body.dark .sidebar {
  border-left: 10px solid rgb(39, 53, 95);
}

body.dark .square {
  background-color: rgb(139, 50, 50);
  transition: all 0.2s ease;
}

body.dark .square.low {
  background-color: rgb(58, 126, 49);
  transition: all 0.2s ease;
}

body.dark .square.medium {
  background-color: rgb(172, 165, 66);
  transition: all 0.2s ease;
}
body.dark .logos, body.dark .smallLogos {
  filter: invert(1);
}

.title {
  margin: 40px;
}

.button {
  border-radius: 5px;
  border: none;
  padding: 20px;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5rem;
}

.button:hover {
  opacity: 0.6;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 12px;
  gap: 5px;
  flex-grow: 2;
}
.main-container {
  background-color: ghostwhite;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 3fr;
  transition: all 0.5s ease-in-out;
}


.project-title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.text-title {
  margin-top: 20px;
}
.paraTitle {
  font-weight: lighter;
  font-size: 3rem;
}

.buttonDropdown {
  position: relative;
  left: 40px;
}
.cog {
  cursor: pointer;
}

.cog:hover {
  opacity: 0.8;
}
.sort {
  text-align: justify;
  font-size: 1.2rem;
}
.sortToDoButton {
  cursor: pointer;
}

.sortToDoButton:hover {
  opacity: 0.6;
}

.pin {
  text-align: justify;
    font-size: 1.2rem;
}


.drpdwnitems {
  display: none;
  background-color: whitesmoke;
  min-width: 200px;
  overflow: auto;
  position: absolute;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, .2);
  opacity: 1;
  z-index: 10;
  opacity: 0.8;
}

.drpdwnitems.active {
  display: block;
  display: block;
  position: absolute;
  left: 50px;
  top: 5px;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, .2);
  display: flex;
  gap: 10%;
  padding: 10px;
  max-height: 700px;
}

.dropDownItem {
  display: block;
  float: none;
  text-decoration: none;
  color: black;
  padding: 12px 16px;
}
.deleteProjects {
  cursor: pointer;
  border-right: 2px solid black;
}

.editProjects {
  cursor: pointer;
}
.secondDropdown {
  display: none;
  background-color: whitesmoke;
  z-index: 10;
  opacity: 1;
  opacity: 0.7;
}

.secondDropdown.active {
  display: block;
  transition: 0.2s;
}

.editDropDown {
  display: none;
  background-color: whitesmoke;
  z-index: 10;
  opacity: 1;
  opacity: 0.7;
}

.editDropDown.active {
  display: block;
  transition: 0.2s;
}

.main-title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

img.toggle {
  margin-left: auto;
  margin-right: 10%;
}


#TODOIT {
  font-size: 5rem;
}

.quotes {
  position: relative;
}
.quote {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.6s ease-in-out;
  font-size: 1.5rem;
}

.quote.active {
  display: block;
  font-style: italic;
  opacity: 1;
  visibility: visible;
  position: relative;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
}

.prev {
  left: -25px
}

.next {
  right: -25px
}

.project-sidebar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: white;
  border-left: 10px solid royalblue;
  box-shadow:
    20px 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  width: 300px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5;
  overflow:auto;
  margin-bottom: 40px;
  margin-top: 40px;
  transition: all 0.7s ease-in-out;
  
}


.logos {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.logos:hover {
  opacity: 0.5;
}

.projectTitles {
  font-size: 30px;
  margin: 5px;
  font-weight: lighter;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.projectTitles:hover {
  color: orange;
}

body.dark .projectTitles {
  border-bottom: 2px solid white;
}

.content  {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow:
    20px 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  margin-right: 40px;
  margin-bottom: 40px;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}


body.dark .modal{
  background-color: black;
  border: solid white 2px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  background-color: white;
  border: solid black 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal.open {
  z-index: 9999;
  opacity: 1;
  height: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.overlay.open {
  opacity: 1;
  z-index: 9998;
}

.toDoButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

input:invalid{
  border: 2px solid red;
}

.error {
  background-color: whitesmoke;
  color: rgb(206, 38, 38);
  max-width: 300px;
  padding: 0;
  display: block;
}

.titleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 4px;
  margin-bottom: 22px;
}

.createToDoButton {
  border-radius: 15px;
  border: none;
  background-color: royalblue;
  color: white;
  padding: 20px;
  font-size: 1rem;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: solid 2px rgba(0, 0, 0, 0.6);
}

.createToDoButton:hover {
  background-color: rgb(73, 104, 197);
}

.projectForm {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.toDoForm {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.checkListForm {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.buttonDivForm {
  display: flex;
  justify-content: space-between;
}

.buttonCheckListForm {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

input.true + label{
  text-decoration: line-through;
  opacity: 0.5;
}

.submitButton {
  font-size: 2rem;
  background-color: green;
  border-radius: 12px;
  padding: 10px;
}
.submitButton:hover {
  background-color: rgb(6, 105, 6);
  color: lime;
}

.closeButton {
  font-size: 2rem;
  background-color: red;
  border-radius: 12px;
  padding: 10px;
}

.closeButton:hover {
  background-color: rgb(199, 5, 5);
  color: rgb(255, 127, 127)
}

input {
  font-size: 2rem;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  overflow:auto
}

select {
  font-size: 2rem;
}
body.dark .createToDoButton:hover {
  background-color: rgba(204, 192, 192, 0.403);
}

.toDoTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-bottom: solid 5px black;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.content2 > .toDoTitle > .paragraphTitle {
  font-size: 2rem
}

.toDoContainer {
  height: 100%;
  width: 100%;
  background-color: rgb(132, 149, 206);
  border-radius: 5px;
  overflow: auto;
}
.toDoContainer.grid {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 40px;
  width: auto;
  justify-items: center;
  flex-grow: 1;
}

.paragraphTitle {
  font-size: 2rem;
  font-weight: bolder;
}

.emptyPara {
  font-size: 1.1rem;
}

.toDoItem {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}

.toDoItem-title {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.square {
  background-color: rgb(253, 86, 86);
  height: 100px;
  width: 100px;
  border-radius: 12px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s ease;
}


.square.low {
  background-color: rgb(94, 224, 77);
  height: 100px;
  width: 100px;
  border-radius: 12px;
  border: 2px solid black;
  transition: all 0.2s ease;
}

.square.medium {
  background-color: rgb(228, 215, 43);
  height: 100px;
  width: 100px;
  border-radius: 12px;
  border: 2px solid black;
  transition: all 0.2s ease;
}

.square:hover {
  height: 90px;
  width: 90px;
  opacity: 0.7;
}

.square:active {
  height: 80px;
  width: 80px;
  opacity: 0.5;
}

.toDoDetailsDiv {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 2;
  border: 2px solid black;
}

.toDoButton {
  font-size: 2rem;
  padding: 1rem ;
  border-radius: 12px;
}

h2 {
  font-size: 1.5rem;
}
.toDoDetailsContainer {
  display: flex;
  height: clamp(50%, 45vh, 100%);
  box-sizing: border-box;
  padding: 2px;
}
.toDoDetails {
  background-color: royalblue;
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow: auto;
  gap: 10px;
  border: solid 2px black;
  border-right: 1px solid black;
}

.checkListDiv {
  background-color:#C8A2C8;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  border: solid 2px black;
  border-left: solid 1px black;
}

.actionTitle {
  font-size: 2rem;
  font-weight: bold;
}

.addIcon {
  margin-left: 80%;
}
.detailTitle {
  font-size: 2rem;
  font-weight: bold;
  align-self: center;
  margin-bottom: 20px;
}
.details {
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 5%;
}

.checkListWrapper {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 25%;
}

.checkBox {
  height: 30px;
  width: 30px;
  border-radius: 2px;
}

.checkBox + label {
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.smallLogos {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.smallLogos:hover {
  opacity: 0.6;
}

#finish {
  background-color: aquamarine;
}

#finish:hover {
  background-color: rgb(103, 233, 190);
}

#finish:active {
  background-color: rgb(71, 207, 162);
}

#edit {
  background-color: lightgreen;
}

#edit:hover {
  background-color: rgb(103, 221, 103);
}

#edit:active {
  background-color: rgb(93, 211, 93);
}

#goBack {
  background-color: orangered;
}

#goBack:hover {
  background-color: rgb(226, 78, 24);
}

#goBack:active {
  background-color: rgb(214, 83, 35);
}

.containerSeparator {
  display: flex;
  height: 100%;
  margin: 20px;
  overflow: auto;
}

.finishedContainer {
  background-color: gray;
  box-sizing: border-box;
  padding: 5px;
  padding: 20px;
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 200px;
  overflow: auto;
}

.bin {
  align-self: flex-start;
  display: flex;
}

.deleteText {
  align-self: center;
}

.finished {
  flex-direction: row;
}

.finishTitle {
  align-self: center;
  margin-left: 20px;
  max-width: 100px;
  word-wrap: break-word;
}