* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: mediumspringgreen;
}

.title {
    margin: 40px;
}

.paraTitle {
    font-weight: lighter;
    font-size: 3rem;
}

.buttonDiv {
    margin: 40px;
}

.button {
    border-radius: 5px;
    border: none;
    padding: 20px;
}

.main-container {
    background-color: white;
    display: grid;
    /* to be noted will now start the structure just have no idea yet how to implement the grid i forgot in a correct way*/
}


