* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: mediumspringgreen;
}

.title {
    margin: 80px;
}

.paraTitle {
    font-weight: lighter;
    font-size: 3rem;
}

.buttonDiv {
    margin: 80px;
}

.button {
    border-radius: 5px;
    border: none;
    padding: 20px;
}



